[submodule "shell/dircolors"]
	path = shell/dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "tmux/colors"]
	path = tmux/colors
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "zsh/omz/plugins/zsh-autosuggestions"]
	path = zsh/omz/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/omz/plugins/zsh-syntax-highlighting"]
	path = zsh/omz/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/omz/themes/powerlevel9k"]
	path = zsh/omz/themes/powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
