[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/colors"]
	path = tmux/colors
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:thuandt/NvChad-starter.git
