[Unit]
Description=Timer for Bitwarden autostart

[Timer]
OnActiveSec=1min
RandomizedDelaySec=15s
Unit=bitwarden.service

[Install]
WantedBy=timers.target
