[Unit]
Description=Bitwarden
Wants=bitwarden.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/opt/Bitwarden/bitwarden
Slice=app.slice
