[Unit]
Description=Visual Studio Code
Wants=code.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/code
Slice=app.slice
