[Unit]
Description=Crow Translate
Wants=crow-translate.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/crow
Slice=app.slice
