[Unit]
Description=Timer for Discord autostart

[Timer]
OnActiveSec=3min
RandomizedDelaySec=15s
Unit=discord.service

[Install]
WantedBy=timers.target
