[Unit]
Description=Discord
PartOf=graphical-session.target
Requires=graphical-session.target
After=xdg-desktop-autostart.target

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStartPre=:/usr/bin/sleep 20
ExecStart=:/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.discordapp.Discord --file-forwarding com.discordapp.Discord @@u @@
TimeoutStartSec=90s
Restart=no
TimeoutStopSec=5s
Slice=app.slice
