[Unit]
Description=Dropbox
PartOf=graphical-session.target
Requires=graphical-session.target
After=xdg-desktop-autostart.target

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStartPre=:/usr/bin/sleep 10
ExecStart=:/usr/bin/dropbox start -i
TimeoutStartSec=90s
Restart=no
TimeoutStopSec=5s
Slice=app.slice
