[Unit]
Description=Dropbox
Wants=dropbox.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/dropbox start -i
Slice=app.slice
