[Unit]
Description=Firefox Web Browser
Wants=firefox.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/firefox
Slice=app.slice
