[Unit]
Description=Flameshot
Wants=flameshot.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
Environment="QT_SCALE_FACTOR=1.25"
ExecStart=:/usr/bin/flameshot
Slice=app.slice
