[Unit]
Description=Google Chrome Web Browser
Wants=google-chrome.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/google-chrome
Slice=app.slice
