[Unit]
Description=MEGAsync
Wants=megasync.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
Environment="QT_SCALE_FACTOR=1.25"
ExecStart=:megasync
Slice=app.slice
