[Unit]
Description=Microsoft Edge Web Browser
Wants=microsoft-edge.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/microsoft-edge-stable
Slice=app.slice
