[Unit]
Description=Microsoft Edge
PartOf=graphical-session.target
Requires=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStartPre=:/usr/bin/sleep 15
ExecStart=:/usr/bin/microsoft-edge-stable
TimeoutStartSec=90s
Restart=no
TimeoutStopSec=5s
Slice=app.slice
