[Unit]
Description=qBitorrent
Wants=qbitorrent.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/env QT_SCALE_FACTOR=1.25 /usr/bin/qbittorrent
Slice=app.slice
