[Unit]
Description=qBitorrent
Wants=qbitorrent.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
Environment="QT_SCALE_FACTOR=1.15"
ExecStart=:/usr/bin/qbittorrent
Slice=app.slice
