[Unit]
Description=Surfshark
Wants=surfshark.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:/usr/bin/flatpak run --command=surfshark com.surfshark.Surfshark --hidden
Slice=app.slice
