[Unit]
Description=Timer for Telegram autostart

[Timer]
OnActiveSec=30s
RandomizedDelaySec=5s
Unit=telegram.service

[Install]
WantedBy=timers.target
