[Unit]
Description=Telegram
Wants=telegram.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
Environment="QT_SCREEN_SCALE_FACTORS=DP-1=1.5;DP-2=1.35"
ExecStart=:/home/mrtux/.local/share/TelegramDesktop/Telegram --autostart
Slice=app.slice
