[Unit]
Description=Timer for Telegram autostart

[Timer]
OnActiveSec=1min
RandomizedDelaySec=10s
Unit=telegram.service

[Install]
WantedBy=timers.target
