[Unit]
Description=WezTerm
PartOf=graphical-session.target
Requires=graphical-session.target
After=xdg-desktop-autostart.target

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStartPre=:/usr/bin/sleep 5
ExecStart=:wezterm start --cwd /home/mrtux
TimeoutStartSec=90s
Restart=no
TimeoutStopSec=5s
Slice=app.slice
