[Unit]
Description=WezTerm
Wants=wezterm.timer

[Install]
WantedBy=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
ExecStart=:wezterm start --cwd /home/mrtux
Slice=app.slice
